/** light theme **/

$light-background-color = #fff

$light-font-color = #161209
$light-font-secondary-color = #a9a9b3

$light-navbar-active-color = #161209

$light-global-link-color = #161209
$light-global-link-hover-color = #2d96bd

$light-post-link-color = #2d96bd
$light-post-link-hover-color = #ef3982

$light-pagination-link-color = #2d96bd
$light-pagination-link-active-color = #000

$light-border-color = #e8e8e8

$light-code-font-color = #c7254e
$light-code-background-color = #f8f5ec

$light-post-blockquote-border-color = $light-global-link-hover-color
$light-post-blockquote-background-color = lighten($light-global-link-hover-color,90%)

$light-post-table-background-color = lighten($light-global-link-hover-color,70%)